# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. SciPy
4. TensorFlow
5. Scikit-learn

| Data Science Tools |
|--------------------| 
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [26]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5
# The expected output is 17

17

In [28]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60
# The expected output is approximately 3.33 hours

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create markdown cells in Jupyter Notebooks
- Evaluate arithmetic expressions in Python

## Author
Banupriya Murugiah